@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(10, 26, 61);
}


@import 'sass/_header';
@import 'sass/_sectionone';
@import 'sass/_sectiontwo';
