@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a1a3d;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  /*box-shadow: 0 5px 10px 0px rgba(0,0,0,.5);
    background: rgba(255, 255, 255, 0.247);*/
}

header .name {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1000;
}

header a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .icons :hover {
  opacity: 70%;
}

header .icons a {
  display: block;
  margin-right: 3.2rem;
  letter-spacing: 0.1em;
  font-size: 1.4rem;
  color: white;
}

.mytitle {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.title {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  margin-left: 8%;
  overflow: hidden;
}

.title h1 {
  color: #fff;
  font-size: 5.4rem;
  font-weight: 600;
}

.title p {
  color: #fff;
  font-size: 1.3rem;
}

.title .line {
  display: inline-block;
  margin-bottom: 2rem;
}

.title .line .line1 {
  display: block;
  width: 270px;
  height: 4px;
  border-radius: 5px;
  background: #ff4d5a;
}

.title .line .line2 {
  display: block;
  width: 270px;
  height: 4px;
  margin-top: 15px;
  margin-left: 200px;
  border-radius: 5px;
  background: #ff4d5a;
}

.bgfix {
  position: fixed;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}

#star {
  position: absolute;
  left: 20% !important;
}

#cl1 {
  position: absolute;
  left: 75% !important;
  top: 7% !important;
}

#cl2 {
  position: absolute;
  left: 38% !important;
  top: 18% !important;
  z-index: 3;
}

#halo {
  position: absolute;
  left: 45% !important;
  top: -10% !important;
  z-index: 2;
}

#moon {
  position: absolute;
  left: 63% !important;
  top: 17.8% !important;
  z-index: 3;
}

#dcl1 {
  position: absolute;
  top: 35% !important;
  left: 80% !important;
  z-index: 4;
}

#dcl2 {
  position: absolute;
  top: 48% !important;
  left: 38% !important;
  z-index: 4;
}

#dcl3 {
  position: absolute;
  top: 60% !important;
  left: 80% !important;
  z-index: 4;
}

.aboutme {
  height: 100vh;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */